    <!--  INDHOLD PÅ DENNE SIDE:   -->

    <!-- Denne side indeholder to knapper:
            1. Alle forespørgsler
            2. Alle tilbud
    -->

    <!DOCTYPE html>
    <html lang="da">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>FOG Carport-forespørgsel</title>
        <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    </head>
    <body>

    <div class="main-container">

        <header class="header-section" th:fragment="fog-header">
            <div class="logo-box">Fog</div>
            <h1 class="main-title">Sælger-side</h1>
        </header>

        <div class="sales-dashboard-btn-container">
            <a href="/sales-inquiries" class="sales-dashboard-large">Se Forespørgsler</a>
            <a href="/sales-quotations" class="sales-dashboard-large">Se Tilbud</a>
        </div>

        </div>

        </form>
    </div>
    </body>
    </html>