<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FOG Salg - forespørgsel</title>
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>

<div class="main-container">

    <header class="header-section">
        <div class="logo-box">Fog</div>
        <h1 class="main-title">Forespørgsel - detaljer</h1>
    </header>
    <!-- OBS HER - post -->
    <form method="post" action="/convertToQuote">
        <div class="content-layout">

            <aside class="sidebar-form">
                <div class="form-group">
                    <span class="form-label-box">KUNDEOPLYSNINGER</span>
                    <input type="text" name="customerName" th:value="${customer.firstname} + ' ' + ${customer.lastname}"
                           class="form-control" readonly/>
                    <input type="text" name="customerAddress" th:value="${customer.address}"
                            class="form-control" readonly/>
                    <input type="text" name="zipcodeAndCity" th:value="${customer.zipcode.zipcode} + ' ' + ${customer.zipcode.city}"
                           class="form-control" readonly/>
                    <input type="email" name="customerEmail" th:value="${customer.email}"
                           class="form-control" readonly/>
                </div>
            </aside>

            <section class="sidebar-form">
                <div class="form-group">
                    <span class="form-label-box">ØNSKET CARPORT BREDDE</span>
                    <input type="text" name="carportWidth" th:value="${inquiry.carportWidth + ' cm'}"
                           class="form-control" readonly/>
                </div>

                <div class="form-group">
                    <span class="form-label-box">ØNSKET CARPORT LÆNGDE</span>
                    <input type="text" name="carportLength" th:value="${inquiry.carportLength + ' cm'}"
                            class="form-control" readonly/>
                </div>

                <div class="form-group">
                    <span class="form-label-box">ØNSKET SKUR BREDDE</span>
                    <input type="text" name="shedWidth"
                           th:value="${inquiry.shedWidth > 0 ? inquiry.shedWidth + ' cm' : 'Intet skur'}"
                            class="form-control" readonly/>
                </div>

                <div class="form-group">
                    <span class="form-label-box">ØNSKET SKUR LÆNGDE</span>
                    <input type="text" name="shedLength"
                           th:value="${inquiry.shedLength > 0 ? inquiry.shedLength + ' cm' : 'Intet skur'}"
                            class="form-control" readonly/>
                </div>
            </section>

        </div>

        <div class="button-container">

        <!--    <input type="hidden" name="inquiryId" th:value="${inquiry.inquiryId}"/> -->
            <button type="submit" class="btn-submit" name="id" th:value="${inquiry.inquiryId}">Konverter til tilbud</button>
        </div>

    </form>

</div>
</body>
</html>