<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FOG Salg - tilbud</title>
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<div class="main-container">

    <header class="header-section">
        <div class="logo-box">Fog</div>
        <h1 class="main-title">Tilbud - detaljer</h1>
    </header>

    <form method="post">

        <div class="content-layout">

            <aside class="sidebar-form">
                <div class="form-group">
                    <span class="form-label-box">KUNDEOPLYSNINGER</span>
                    <input type="text" th:value="${customer.firstname} + ' ' + ${customer.lastname}" class="form-control" disabled="disabled" />
                    <input type="text" th:value="${customer.address}" class="form-control" disabled="disabled"/>
                    <input type="text" th:value="${customer.zipcode.zipcode} + ' ' + ${customer.zipcode.city}" class="form-control" disabled="disabled"/>
                    <input type="text" th:value="${customer.email}" class="form-control" disabled="disabled"/>
                </div>

                <div class="form-group">
                    <span class="form-label-box">SALGSPRIS (KR.)</span>
                    <input type="text" th:value="${quote.price} + ' kr.'" class="form-control" disabled="disabled"/>
                </div>
            </aside>

            <section class="sidebar-form">
                <div class="form-group">
                    <span class="form-label-box">CARPORT BREDDE</span>
                    <input type="text" th:value="${quote.width} + ' cm'" class="form-control" disabled="disabled"/>
                </div>

                <div class="form-group">
                    <span class="form-label-box">CARPORT LÆNGDE</span>
                    <input type="text" th:value="${quote.length} + ' cm'" class="form-control" disabled="disabled"/>
                </div>

       <!--         <div class="form-group">
                    <span class="form-label-box">SKUR BREDDE</span>
                    <input type="text" th:value="${quote.shedWidth > 0 ? quote.shedWidth + ' cm' : 'Intet skur'}" class="form-control" disabled="disabled"/>
                </div>

                <div class="form-group">
                    <span class="form-label-box">SKUR LÆNGDE</span>
                    <input type="text" th:value="${quote.shedLength > 0 ? quote.shedLength + ' cm' : 'Intet skur'}" class="form-control" disabled="disabled"/>
                </div> -->
            </section>

        </div>

        <div class="button-container">
            <button type="submit" name="action" value="edit" class="btn-submit">Rediger tilbud</button>
            <a th:href="@{/showBom/{id}(id=${quote.quotationId})}" class="btn-submit">Vis stykliste</a>
            <a th:href="@{/showSvg/{id}(id=${quote.quotationId})}" class="btn-submit">Vis tegning</a>
            <button type="submit" name="action" value="send-customer" class="btn-submit">Send tilbud</button>
        </div>

    </form>
</div>

</body>
</html>