<!--  INDHOLD PÅ DENNE SIDE:   -->

<!-- Denne side er der, hvor sælger sender til kunde
        Sælger skal se der er
        1. Indsat SVG-tegning
        2. Sat link ind til stykliste.
        NOTE: Skal vi skrive en besked med "links kan være skadelige. Skriv alternativt selv teksten i linket i din browser"?
        3. Beskrivende tekst (?)
-->

<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FOG Send tilbud til kunde</title>
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>