<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="da">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tilbud</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>

<div class="main-container">

    <header class="header-section">
        <div class="logo-box">Fog</div>
        <h1 class="main-title">Tilbud</h1>
    </header>

    <div th:utext="${svg}"></div>

</div>

</body>
</html>